block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Watchlist
    link(rel="stylesheet" href="/style.css")
  body
    div#root
      div(style="position: relative; text-align:center" class="  w3-padding-large w3-xlarge Banner")
            p W A T C H L I S T
      block layout-content